* {
	font-family: Garamond, serif;
	font-size: 20px;
}

body {
	margin: 10px 150px;
}

header {
	padding: 50px;
}

h1 {
	text-transform: uppercase;
	font-size: 5em;
	text-align: center;
}


#player-panel {
	float: left;
	padding-top: 30px;
}

input, #input-name {
	color: gray;
	border: 1px gray solid;
}

input {
	width: 130px;
}

form {
	display: none;
}

p {
	display: inline-block;
	color: rgba(42, 30, 118, 0.8);
}

.wins {
	padding-left: 5px;
}

.wrapper {
	float: right;
	position: relative;
	left: 5%;
}

.square {
	height: 170px;
	width: 170px;
	background-color: lightblue;
	margin: 5px;
	border-radius: 5px;
	display: inline-block;
}

button {
	display: inline-block;
	text-align: left;
	font-size: 0.75em;
	border-radius: 30px;
}

#save-game {
	text-align: center;
	margin-top: 20px;
	background-color: rgba(255, 0, 0, 0.34);
	border: 1px solid red;
	color: red;
}

#reset {
	margin-top: 100px;
}

.wins-message, #message-box {
	background-color: rgba(237, 252, 255, 0.15);
	border: 2px solid rgba(228, 240, 242, 0.8);
	border-radius: 3px;
	padding: 10px;

	-webkit-box-shadow: inset 7px 7px 25px 3px rgba(242,242,242,1);
	-moz-box-shadow: inset 7px 7px 25px 3px rgba(242,242,242,1);
	box-shadow: inset 7px 7px 25px 3px rgba(242,242,242,1);
}
.wins-message {
	margin-top: 10px;
}

#message-box {
	height: 30px;
	background-color: white;
}

#reset-board {
	margin-top: 20px;
}

#square {
  -vendor-animation-duration: 6s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}


