html {
	font-family: Futura, sans-serif;
}

container {

}


.square {
	height: 200px;
	width: 200px;
	background-color: lightblue;
	margin: 5px;
	display: inline-block;
}

#message-box {
	height: 50px;
	width: 200px;
	border: 1px solid;
}